version: 2
updates:
  - package-ecosystem: "maven"
    directory: "hello-langchain-java"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
  - package-ecosystem: "npm"
    directory: "hello-langchain-js"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
  - package-ecosystem: "pip"
    directory: "hello-langchain-python/1.0"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
  - package-ecosystem: "cargo"
    directory: "hello-langchain-rust"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
  - package-ecosystem: "pub"
    directory: "hello-langchain-dart"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
  - package-ecosystem: "gomod"
    directory: "hello-langchain-go"
    schedule:
      interval: "daily"
    rebase-strategy: "auto"
