langchain-core==0.3.41
langchain==0.3.20
langchain-community==0.3.19
langchain-ollama==0.2.3
langchain-openai==0.3.7
langgraph==0.3.2
grandalf==0.8
python-dotenv==1.0.1
#
openai==1.65.2
httpx
httpx-sse
PyJWT
#
qianfan==0.4.12.3