langchain-core==0.3.37
langchain==0.3.19
langchain-community==0.3.18
langchain-ollama==0.2.3
langchain-openai==0.3.6
langgraph==0.2.73
grandalf==0.8
python-dotenv==1.0.1
#
openai==1.63.2
httpx
httpx-sse
PyJWT
#
qianfan==0.4.12.3