# LangChain related packages
langchain-core==1.3.2
langchain==1.2.15
langchain-community==0.4.1
langchain-ollama==1.1.0
langchain-openai==1.2.0
langgraph==1.1.9

# Utility packages
python-dotenv==1.2.2
psutil==7.2.2
matplotlib==3.10.9
numpy
soundfile
websocket-client
pyaudio

# API clients
openai==2.32.0
openai-harmony==0.0.8
httpx==0.28.1
httpx-sse==0.4.3
qianfan==0.4.12.3

# Others
grandalf==0.8     # Required by langgraph
PyJWT==2.12.1      # Required for authentication
